<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cars Blog</title>
</head>

<body>
  <h1>Welcome to the our cars page!</h1>
  <p>An app for collection of cars and models.</p>

  <a href="/cars">View car collection</a>
  <br>
  <br>
  <a href="/cars/new">Create car</a>
</body>

</html>